<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rmi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rmi.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rmi.AddFruit"
            android:label="@string/title_activity_add_fruit" >
        </activity>
        <activity
            android:name="com.example.rmi.UpdateFruit"
            android:label="@string/title_activity_update_fruit" >
        </activity>
        <activity
            android:name="com.example.rmi.DeleteFruit"
            android:label="@string/title_activity_delete_fruit" >
        </activity>
        <activity
            android:name="com.example.rmi.PurchaseFruit"
            android:label="@string/title_activity_purchase_fruit" >
        </activity>
        <activity
            android:name="com.example.rmi.Print"
            android:label="@string/title_activity_print" >
        </activity>
    </application>

</manifest>
